# Ignorar pastas
node_modules/
build/
.settings/

# Ignorar arquivos específicos
.env
secrets.txt

# Ignorar extensões
*.log
*.tmp

# Ignorar arquivos grandes do Neo4j e node_modules
exemplo-12-embeddings-neo4j-template/neo4j/
exemplo-12-embeddings-neo4j-template/node_modules/
*.so
*.db